<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='air.css')}}">
	<title>Air Quality Index</title>
</head>
<body>
<h1>Air Quality Index</h1>

<form action="/predict" method="post">
	 <div id="i1">
	<input type="text" name="T" placeholder="Average Temperature (°C)" value="">
	</div>
	 
	 <div id='i2'>
	<input type="text" name="TM" placeholder="Maximum temperature (°C)" size="22" >
	          </div>

	    <div id="i3">
	<input type="text" name="Tm" placeholder="Minimum temperature (°C)" >
	    </div>
	           <div id="i4">
	<input type="text" name="SLP" placeholder="Atmospheric pressure at sea level (hPa)" size="33" >
	           </div>
	           <div id="i5">
	<input type="text" name="H" placeholder="Average relative humidity (%)" size="24" >
	        </div>

	         <div id="i6">   
	<input type="text" name="VV" placeholder="Average visibility (Km)" size="18" >
	        </div>
	        
	        <div id="i7">
	<input type="text" name="V" placeholder="Average wind speed (Km/h)" size="22" >
	     </div>
	             
	        <div id="i8">
	<input type="text" name="VM" placeholder="Maximum sustained wind speed (Km/h)" size="33">
	     </div>

	     <div id="i9">
	     	<input type="submit" name="submit">
	     </div>
	             
	

</form>

<h3>{{predictions}}</h3>
</body>
</html>
